@import 'base/variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/dividers';
@import 'blocks/services';
@import 'blocks/about';
@import 'blocks/works';
@import 'blocks/contact';
@import 'blocks/posts';
@import 'blocks/brands';
@import 'blocks/footer';
@import 'blocks/feedback';