.works {
    padding: 99px 100px;
    &__wrapper {
        display: flex;
        justify-content: center;
        margin-top: 28px;
    }
    &__item {
        margin-right: 28px;
        font-family: 'Roboto Slab', serif;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: $main-color;
        &_active {
            color: $accent-color;
        }
        &:nth-child(5) {
            margin-right: 0;
        }
        &:hover {
            color: $accent-color;
            cursor: pointer;
        }
    }
    &__wrapper-photos {
        margin-top: 70px;
    }
    &__wrapper-row {
        margin-top: 30px;
        display: flex;
        &:nth-child(1) {
            margin-top: 0;
        }
    }
    img {
        width: 360px;
        height: 320px;
        margin-right: 30px;
        &:nth-child(3) {
            margin-right: 0;
        }
    }
}

.show {
    display: block;
}
.hide {
    display: none;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
} @keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}